<div class="voting">
  <div class="tournament" [routerLink]="'/tournaments'">
    <h4>{{ tournament?.name | uppercase }}</h4>
    <p>{{ tournament?.startDate.seconds * 1000 | date: 'MMM d, y' }}</p>
  </div>
  <mat-card class="check-credentials" *ngIf="!authenticated">
    <form class="registered" [formGroup]="playerForm">
      <mat-form-field>
        <input
          type="text"
          placeholder="Click to Select"
          aria-label="Search"
          matInput
          formControlName="player"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
          <mat-option *ngFor="let player of candidates" [value]="player">
            {{ player.firstName + ' ' + player.lastName }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Pin *" type="password" formControlName="pin" />
      </mat-form-field>
      <div class="actions">
        <button
          mat-raised-button
          color="primary"
          (click)="selectPlayer($event)"
          class="vote-button"
          [ngClass]="{ blocked: playerForm.invalid || loading }"
        >
          Vote
        </button>
      </div>
    </form>
  </mat-card>
  <mat-card class="candidates-panel" *ngIf="authenticated" [ngClass]="{ blocked: loading }" [@inOut]>
    <h4>Nominated Captains</h4>
    <div class="candidates">
      <ng-container *ngFor="let candidate of candidates">
        <div
          class="candidate"
          *ngIf="candidate.isNominated"
          [ngClass]="{
            active: candidate.selected,
            blocked: !candidate.selected && captain_selection_done
          }"
          (click)="toggleSelection($event, candidate)"
        >
          <span>{{ candidate.firstName }} {{ candidate.lastName }}</span>
          <mat-icon [ngClass]="{ close: candidate.selected }">add_circle</mat-icon>
        </div>
      </ng-container>
      <app-loader *ngIf="candidates.length < 1" class="loader"></app-loader>
    </div>
    <div class="message">
      <span>Select {{ tournament?.noOfTeams || 4 }} captains of your choice</span>
    </div>
    <div class="actions">
      <button
        mat-raised-button
        color="accent"
        (click)="vote($event)"
        class="vote"
        [ngClass]="{ blocked: selectedCandidates.length < (tournament?.noOfTeams || 4) }"
      >
        Submit
      </button>
      <button mat-raised-button color="warn" (click)="reset($event)">Clear</button>
    </div>
  </mat-card>
</div>
<div class="loader" *ngIf="loading">
  <app-loader radius="medium"></app-loader>
</div>
