@import '~src/styles';
.enroll {
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  h2 {
    letter-spacing: 0.25rem;
  }
  .find-yourself {
    width: 100%;
    height: auto;
    background: rgb(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    mat-form-field {
      width: 100%;
      height: auto;
    }
  }
  .new-player {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $nav-background-color;
    margin-top: 1rem;
    padding: 1rem;
    .player-form {
      width: 100%;
      // display: grid;
      & > div {
        width: 100%;
        mat-form-field {
          width: 100%;
        }
      }
      .address {
        grid-column-start: 1 / span 2;
      }
    }
  }
  .actions {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    .enroll-button {
      flex: 1;
    }
    .reset-button {
      flex: 1;
      margin-left: 1rem;
    }
  }
}

@media screen and (min-width: 720px) {
  .enroll {
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    .find-yourself {
      width: 100%;
      height: auto;
      background: rgb(0, 0, 0, 0.8);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 1rem 0rem;
      mat-form-field {
        width: 80%;
        height: auto;
      }
    }
    .new-player {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: $nav-background-color;
      margin-top: 1rem;
      padding: 1rem;
      .player-form {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 1rem;
        padding: 1rem;
        .address {
          grid-column-start: 1 / span 2;
        }
      }
      .actions {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .enroll-button {
        }
        .reset-button {
          margin-left: 1rem;
        }
      }
    }
  }
}
