<div class="enroll">
  <div class="tournament">
    <h2 *ngIf="tournament">{{ tournament?.name + ' (' + tournament?.season + ')' | uppercase }}</h2>
  </div>
  <mat-tab-group mat-stretch-tabs color="accent">
    <mat-tab label="New Players">
      <form class="player-form" [formGroup]="newPlayerForm">
        <div class="name">
          <mat-form-field>
            <input matInput placeholder="Firstname *" formControlName="firstName" type="text" />
          </mat-form-field>
        </div>
        <div class="lastname">
          <mat-form-field>
            <input matInput placeholder="Lastname" formControlName="lastName" type="text" />
          </mat-form-field>
        </div>
        <div class="pin">
          <mat-form-field>
            <input matInput placeholder="New Pin * ( Max 4 characters )" type="password" formControlName="pin" />
          </mat-form-field>
        </div>
        <div class="mobile">
          <mat-form-field>
            <input matInput placeholder="Mobile No. *" formControlName="mobile" type="number" />
          </mat-form-field>
        </div>
        <div class="year-of-birth">
          <mat-form-field>
            <input matInput placeholder="Year Of Birth *" type="number" formControlName="yearOfBirth" />
          </mat-form-field>
        </div>
        <div class="nickname">
          <mat-form-field>
            <input matInput placeholder="Nickname" formControlName="nickName" type="text" />
          </mat-form-field>
        </div>
        <div class="address">
          <mat-form-field>
            <input matInput placeholder="Address" type="text" formControlName="address" type="text" />
          </mat-form-field>
        </div>
        <div class="captaincy">
          <mat-checkbox formControlName="captaincy">Interested in captaincy</mat-checkbox>
        </div>
        <div class="actions">
          <button
            mat-raised-button
            color="primary"
            (click)="enroll($event, true)"
            class="enroll-button"
            [disabled]="loading"
          >
            Enroll
          </button>
          <button
            mat-raised-button
            color="warn"
            (click)="reset($event, true)"
            class="reset-button"
            type="reset"
            [disabled]="loading"
          >
            Reset
          </button>
        </div>
      </form>
    </mat-tab>
    <mat-tab label="Registered Players">
      <form class="registered" [formGroup]="registeredPlayerForm">
        <mat-form-field>
          <input
            type="text"
            placeholder="Search *"
            aria-label="Search"
            matInput
            formControlName="player"
            [matAutocomplete]="auto"
          />
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let player of players" [value]="player">
              {{ player.firstName + ' ' + player.lastName + (player.nickName ? ' (' + player.nickName + ')' : '') }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Pin *" type="password" formControlName="pin" />
        </mat-form-field>
        <div class="captaincy">
          <mat-checkbox formControlName="captaincy">Interested in captaincy</mat-checkbox>
        </div>
        <div class="actions">
          <button mat-raised-button color="primary" (click)="enroll($event)" class="enroll-button" [disabled]="loading">
            Enroll
          </button>
          <button
            mat-raised-button
            color="warn"
            (click)="reset($event)"
            class="reset-button"
            type="reset"
            [disabled]="loading"
          >
            Reset
          </button>
        </div>
      </form>
    </mat-tab>
  </mat-tab-group>
  <div class="loading" *ngIf="loading">
    <app-loader radius="medium"></app-loader>
  </div>
</div>
