<div class="players-container">
  <div class="players">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let player of players">
        <mat-expansion-panel-header>
          <mat-panel-title> {{ player.firstName }} {{ player.lastName }} </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="player-details">
          <div *ngIf="player.nickName" class="item">
            <span class="caption">Nickname:</span> <span class="data">{{ player.nickName }}</span>
          </div>
          <div class="item">
            <span class="caption">Mobile:</span> <span class="data">{{ player.mobile }}</span>
          </div>
          <div class="item">
            <span class="caption">Year Of Birth:</span> <span class="data">{{ player.yearOfBirth }}</span>
          </div>
          <div *ngIf="player.address" class="item">
            <span class="caption">Address:</span> <span class="data">{{ player.address }}</span>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <div class="players" *ngIf="loading">
    <app-loader radius="medium"></app-loader>
  </div>
</div>
